.search-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.sidebar {
  width: 250px;
  background-color: #748cf8;
  color: black;
  padding: 20px;
  display: flex;
  font-weight: bold;
  flex-direction: column;
}

.sidebar-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.user-list {
  list-style: none;
  padding: 0;
  overflow-y: auto;
}

.user-list::-webkit-scrollbar-track {
  background: transparent;
}

.user-list::-webkit-scrollbar-thumb {
  background: #888;
}

.user-list {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
  color: #fff;
}

.user-item:hover {
  background-color: #f0f0f0;
}

.user-item.active {
  background-color: #e0e0e0;
}

.avatar-icon {
  font-size: 30px;
  /* Adjust icon size */
  color: #888;
  /* Icon color */
  margin-right: 10px;
}

.user-name {
  font-size: 16px;
  color: #333;
}